.bg-grey
{
  background: #f8f8f8;
}

.colorGrey {
  color: #4b5257;
}

.story-header
{
  background: #fff;
}

.rounded-0
{
  border-radius: 0 !important;
}

.active-filter
{
  font-weight: 500;
  color: #2d72d9 !important;
}

#story-logo img {
  position: absolute;
  margin-left: -38px;
  margin-top: -21px;
  width: 55px;
  height: 55px;
}

.stories-lines
{
  background: #eceef1;
  border: 1px #636c72;
}

.stories-lines table {
  max-width: 1200px;
}

.stories-lines td {
  vertical-align: middle;
  white-space: pre-line;
  word-wrap: break-word;
  max-width: 1100px;
}

.story-header ul
{
  margin: 0;
}
.story-header ul li p
{
  color: #4b5257;
  margin-bottom: 0;
}

.story-header ul li a
{
  margin:5px 40px 0 0;
}

.story-header i
{
  font-size: 12px;
  margin-left: 3px;
  opacity: 0.5;
  color: #636C71;
}

.sliderUp {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  transition: opacity .25s,
  font-size .5s .25s,
  margin .5s .25s,
  padding .5s .25s;
}

.slidedown {
  transition: font-size .25s,
  margin .25s,
  padding .25s,
  opacity .5s .25s;
}

