<section class="body-chats row">
  <chats-rows v-bind:peoples="activePeople" v-on:removePeople="removePeople($event)" v-on:hideBodyBox="hideBodyBox($event)" v-on:missMsg="missMsgCount($event)"></chats-rows>

  <div class="w-100">
    <sort-rows header="Active Chats" v-bind:missMsgs="missMsg" v-bind:peoples="activePeople" v-on:peopleChatt="addSingleChat($event)"></sort-rows>
    <sort-rows header="Recent Chats" v-bind:missMsgs="missMsg" v-bind:peoples="recentChat" v-on:peopleChatt="addSingleChat($event)"></sort-rows>
    <sort-rows header="Online" v-bind:missMsgs="missMsg" v-bind:peoples="peoples" v-on:peopleChatt="addSingleChat($event)"></sort-rows>
  </div>
</section>


