<section class="body-chats row">
  <chat-boxes
    v-bind:peoples="activePeople"
    v-bind:focusPerson="focusPerson"
    v-bind:keySortRow="keySortRows"
    @removePeople="removePeople($event)"
    @hideBodyBox="hideBodyBox($event)"
    @missMsg="missMsgCount($event)"
    @resetMsgs="resetMsgs($event)">
  </chat-boxes>

  <div class="w-100" id="border-sort">

    <sort-rows header="Active Chats"
       v-bind:missMsgs="missMsgs"
       v-bind:peoples="activePeople"
       @keySort="key($event)"
       @resetMsgs="resetMsgs($event)"
       @peopleChatt="addSingleChat($event)"
       @focus="autoFocus($event)">
    </sort-rows>

    <sort-rows header="Recent Chats"
       v-bind:missMsgs="missMsgs"
       v-bind:peoples="recentChat"
       @keySort="key($event)"
       @resetMsgs="resetMsgs($event)"
       @peopleChatt="addSingleChat($event)"
       @focus="autoFocus($event)">
    </sort-rows>

    <sort-rows header="Online"
      v-bind:missMsgs="missMsgs"
      v-bind:peoples="peoples"
      @keySort="key($event)"
      @resetMsgs="resetMsgs($event)"
      @peopleChatt="addSingleChat($event)"
      @focus="autoFocus($event)">
    </sort-rows>
  </div>
</section>
