<section class="chats-rows card-group" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div class="chatBox" v-for="people, key in peoples">
    <div class="card" @click="resetCompMsg(people, key)">
      <div class="card-header p-1 rounded-0 bg-blue text-white">
        <p class="float-left m-0 mr-5 ml-1"><small>{{people.name}}</small></p>

        <div class="float-right mr-1">
          <a href="javascript:void(true)" v-bind:class="{'fa-angle-double-down' : people.hideChatBox, 'fa-angle-double-up' : !people.hideChatBox}" @click="hideBox(people)" class="fa text-white mr-1"></a>
          <a href="javascript:void(true)" @click="remove(people)" class="fa text-white fa-times-circle"></a>
        </div>
      </div>

      <div class="card-block" v-show="people.hideChatBox">
        <div id="scr" style="height: 250px; overflow: auto">
          <div v-for="text in texts" v-if="text.pers === people">
            <div class="ml-auto bubble me" v-if="text.textUser"><small>{{text.textUser}}</small></div>
            <img class="rounded-circle m-1" :src="text.logo" v-if="text.textComp">
            <div class="align-block align-middle bubble you" v-if="text.textComp"><small>{{text.textComp}}</small></div>
          </div>
        </div>

        <div class="bg-grey pt-2 pb-2" style="border-top: 1px solid #eceef1">
          <input :id="keySortRow" ref="text" autofocus @children="people" class="m-auto form-control" @blur="stopFocus($event, key)" @keyup.enter="msg($event.target, people)" type="text" :placeholder="'Send to : '+ people.name">
          <span class="fa fa-long-arrow-right errspan" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</section>

