<div xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="card rounded-0">
    <div class="card-header bg-grey rounded-0 text-uppercase text-black" style="font-size: 9px">
      <strong>{{header}}</strong>
    </div>
    <div class="card-block">
      <div style="cursor: pointer" v-for="people in peoples" v-on:click="peopleChatt(people)">
        <div class="clearfix">
          <div class="float-left">
            <p class="ml-2 mr-2">{{people.logo}}</p>
          </div>

          <div class="float-left">
            <p class="m-0"><small><strong>{{people.name}}</strong></small></p>
            <p class="colorGrey m-0" style="font-size: 10px;"><span style="color: red; font-size: 20px">•</span>&nbsp;{{people.activety}}</p>
          </div>

          <div>
            <div class="float-right ml-2 mr-3 mt-3"><i class="fa fa-caret-right"></i></div>
            <div class="float-right text-center mt-3 text-white bg-blue circleBase small" style="height: 20px; width: 20px;" v-for="missMsg in missMsgs" v-if="missMsg.name === people.name">
              {{missMsg.missed.length}}
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>

